{{#if products}}
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
            <ul class="list-group">
                    {{#each products}}
                        <li class="list-group-item">
                            <span class="badge">{{this.qty}}</span>
                            <strong>{{this.item.name}}</strong>
                            <span class="label label-success">€{{this.price}}</span>
                            <div class="btn-group">
                                <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="/shop-decr/{{this.item._id}}">Reduce Quantity</a></li>
                                    <li><a href="/shop-incr/{{this.item._id}}">Increase Quantity</a></li>
                                    <li><a href="/shop-rm/{{this.item._id}}">Remove Product</a></li>
                                </ul>
                            </div>
                        </li>
                    {{/each}}


            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <strong>Total: €{{totalPrice}}</strong>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <a href="/buy" type="button" class="btn btn-primary">Check out</a>
        </div>
    </div>
{{else}}
    <div class="row">
        <div class="p-3 mb-2 bg-primary text-white">Empty Shopping List</div>
    </div>
{{/if}}


